h1{
	text-align: center;
}
#contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#figuras{

	display: flex;
	flex-direction: column;
	
}
#figuras1{
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 300px;
	
}
#cuadrado{
	margin-top: 30px;
	margin-left: 70px;
	height: 150px; 
	width: 150px;
	background-color: grey;
}
#circulo{
	margin-left: 70px;
	margin-top: 30px;
	height: 150px; 
	width: 150px;
	background-color: grey;
	border-radius: 100%;
}
#triangulo{
	height: 0; 
	width: 0;
	border-right:70px solid transparent;
	border-top: 100px solid transparent;
	border-left: 70px solid transparent;
	border-bottom:120px solid grey;
	margin-left: 70px;
	margin-top: -50px;
	
}
#trapecio{
	height: 0px; 
	width: 80px;
	margin-left: 30px;
	margin-top: 50px;
	border-bottom: 70px solid grey;
	border-right:70px solid transparent;
	border-left:70px solid transparent;
		
}
#cuadrado1{
	margin-right: 45px;
	margin-top: 30px;
	height: 150px; 
	width: 150px;
	background-color: black;
}
#circulo1{
	margin-right: 45px;
	margin-top: 30px;
	height: 150px; 
	width: 150px;
	background-color: black;
	border-radius: 100%;
}
#triangulo1{
	margin-right: 45px;
	margin-top: -50px;
	height: 0; 
	width: 0;
	border-right:70px solid transparent;
	border-top: 100px solid transparent;
	border-left: 70px solid transparent;
	border-bottom:120px solid ;
	
}
#trapecio1{

    margin-left: 30px;
	margin-top: 50px;
	height: 0px; 
	width: 80px;
	border-bottom: 70px solid ;
	border-right:70px solid transparent;
	border-left:70px solid transparent;

		
}